
body{
    display:flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.logo-name{
    font-size: 79px;
}
.logo-span{
    color: #04d9fa;
}
.navigation-links{
    width: 1280px;
    height: 72px;
    background-color: #35444F;
    text-align:center;
    margin-top: 38px;
}
.nav-link{
    color: white;
    text-decoration:none;
    font-size:24px;
   /* border: 1px solid #e52f2f;*/
    display: inline-block;
    padding: 25px 38px 21px 38px;
}
.nav-link:hover {
    border: 1px solid white;
    background-color: #222F3A;
}

.spisok-link{
    width:340px;
    height: 100%;
    border: 1px solid grey;
    margin-top: 55px;


}

.aside-link {
    display: block;
    text-decoration:none;
    padding: 23px 0 23px 44px;
    font-size:27px;
}

.aside-link:hover {
 background-color: #DBDBDB;
    padding-left: 65px;
}

.kartinka{
    border: 1px solid grey;
    margin: 55px 0 0 47px;
    display: inline-block;
    vertical-align: top;
    padding: 75px 302px 75px 302px;
}
.center{
    display: flex;
    width: 1280px;
}

.content-text{
    width: 924px;
    margin: 40px 0 30px 354px;
    font-size: 19px;
}

.text-in-box{
    margin-top: 30px;
}

.spisok-footer{
background-color: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 62px;
    text-align:center;

}

.link-footer{
    text-decoration:none;
    font-size:28px;
    display: inline-block;
    padding: 15px 20px 15px 20px;


}
.footer-text{
    padding-left: 90px;
    font-size:24px;
}
.link-footer:hover{
    color: #1137e3;
    border-bottom:2px solid #1137e3;
    padding-bottom: 7px ;   /* Не смог разобраться как сделать подчеркивание только под текстом */





}