*{
    font-family: Montserrat, sans-serif;
}
 body {
     margin: 0;
 }
 .navigation {
     text-align: center;
 }
.navigation-link{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: red;
    margin:40px;
    font-size: 20px;
    font-weight: bold;
    line-height: 2.7;
    letter-spacing:3px;
}
img{
    width: 100%;
}

main{
    text-align: center;
}

h2{
    text-transform: uppercase;
    margin: 40px;
}

.centent-text{
    font-size: 20px;
    margin: 40px 90px;

}
.red-button{
    color: white;
    background-color: red;
    width: 190px;
    height: 51px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:3px;
    border-radius: 5px;
    border: 0;
}

footer{
    font-family: Montserrat, sans-serif;
    text-align:right;
    margin: 0 180px;
    font-size: 18px;
    font-weight: bolder;
}